.title {
  display: block;
  background-repeat: no-repeat;

  height: 43px;
  background-size: cover;
}

.about {
  width: 143px;
}

.menus {
  width: 107px;
}

.access {
  width: 106px;
}

.prevention {
  width: 259px;
}

.payment {
  width: 279px;
}

.set {
  width: 279px;
}

@media screen and (min-width: 700px) {
  .title {
    height: 83px;
    margin: 0 auto;
  }
  .about {
    width: 296px;
  }
  .access {
    height: 36px;
    width: 90px;
  }

  .menus {
    width: 223px;
  }

  .prevention {
    width: 540px;
  }
  .payment {
    width: 581px;
  }
}

@media screen and (min-width: 950px) {
  .access {
    margin-left: 0;
  }
  .about {
    position: relative;
    left: -25px;
  }
}
