.container {
  border: 15px solid white;
  background-color: gray;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.logo {
  height: 70px;
  /* margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.63);
  position: relative;
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 30px;
  letter-spacing: 1px;
  font-size: 18px;
}

.scroll {
  transform: rotate(-90deg);
  position: relative;
  right: 50%;
  bottom: 30px;
  color: #fb291f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.line {
  /* display:inline; */
  margin-top: 15px;
  width: 0.5px;
  height: 55px;
  background-color: #fb291f;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.back_store {
  background-image: url("../../img/top/store1.jpg");
}

.back_light {
  background-image: url("../../img/top/light.jpg");
}

.back_bike {
  background-image: url("../../img/top/bike.jpg");
}
.back_grass {
  background-image: url("../../img/top/grass.jpg");
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.outAnimation {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 560px) {
  .logo {
    height: 100px;
  }
}

@media screen and (min-width: 750px) {
  .logo {
    height: 100px;
  }
  .arrow {
    zoom: 1.5;
  }
}

.tet {
}
