.container {
  background-color: #f2f2f2;
  width: 100vw;
  height: 1300px;
  padding-top: 80px;
}

.img {
  width: 90vw;
  height: 230px;
  background-image: url("../img/store2.jpg");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  // @media screen and (min-width: 430px) {
  //   height: 300px;
  // }
}

.introductionContainer {
  background-color: #f2f2f2;
  width: 81vw;
  margin: 0 auto;
  // border: 1px solid blue;
  height: 400px;
  position: relative;
  bottom: 50px;
  padding: 30px 20px 0 20px;
}

.introductionContainer > p {
  font-size: 17px;
  letter-spacing: 1.5px;
}

.introductionContainer > p:first-of-type {
  margin-top: 45px;
}

.introductionContainer > p:last-of-type {
  margin-top: 50px;
}

.miniTitle.miniTitle.miniTitle.miniTitle {
  // margin-top: 50px;
  width: 88px;
  height: 29px;
  margin-bottom: 25px;
  margin-top: -50px;
}

.number,
.adress {
  border-bottom: 2px dashed #a8a8a8;
  border-width: 2px;
}

.number {
  width: 130px;
}

.adress {
  width: 220px;

  margin-top: 20px;
}

.adressContainer {
  width: 81vw;
  margin: 0 auto;
  padding: 30px 20px 0 20px;
  font-size: 17px;
}

.photoContainer {
  width: 81vw;
  margin: 0 auto;
  padding: 30px 20px 0 20px;
}

.button {
  background-color: black;
  color: white;
  border-radius: 45px;
  padding: 7px 15px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 30px;
  border-style: hidden;
  font-size: 13px;
  text-decoration: none;
}
@media screen and (min-width: 400px) {
  .container {
    height: 1500px;
  }
}
@media screen and (min-width: 430px) {
  .img {
    height: 300px;
  }
}

@media screen and (min-width: 450px) {
}

@media screen and (min-width: 570px) {
  .img {
    height: 350px;
  }
  .introductionContainer {
    bottom: 90px;
  }
}

@media screen and (min-width: 700px) {
  .img {
    width: 100vw;
    height: 350px;
    // background-attachment: fixed;
    background-size: cover;
    background-position: top;
  }

  .introductionContainer {
    bottom: 0px;
    text-align: center;
    font-size: 20px;
  }

  .adressContainer {
    position: relative;
    top: 50px;
  }
  .adressContainer {
    text-align: center;
  }
  .number,
  .adress {
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    height: 1600px;
  }
}

@media screen and (min-width: 950px) {
  .container {
    height: 1350px;
  }
  .tableContainer {
    display: flex;
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: 100px;
  }

  .rowContainer,
  .introductionContainer,
  .adressContainer,
  .photoContainer {
    width: 400px;
  }

  .introductionContainer {
    text-align: left;
  }
  .adressContainer {
    text-align: left;
  }
  .number,
  .adress {
    margin-left: 0;
  }
}
