.container {
  background-color: white;
  padding: 80px 30px 100px 30px;
}

.introduction {
  color: #343434;
  margin-top: 40px;
}

.paymentTable {
  font-family: "Noto Sans JP", Arial;
  color: #434343;
  margin-top: 60px;
  text-align: left;
}

.paymentTable > tr > td:first-of-type {
  width: 100px;
}

.icon {
  height: 26px;
  margin-top: 30px;
}

.paymentName {
  vertical-align: bottom;
  padding-left: 20px;
}

.transImg {
  width: 260px;
  height: 166px;
}

.transTitle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Noto Sans JP", Arial;
}
