.container {
  padding: 80px 30px 100px 30px;
  background-color: #f2f2f2;
}

.content {
  color: #343434;
  margin-top: 40px;
}

.img {
  width: 98%;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 10px;
}

@media screen and (min-width: 700px) {
  .container {
    text-align: center;
  }
  .content {
    font-size: 20px;
  }
  .img {
    width: 600px;
  }
}
